.jackpot_row {
    margin: 10px 0;
    height: fit-content;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 0 15px;
}

.jackpot_row::-webkit-scrollbar {
    display: none;
}